.bottomContainer{
    border: 5px solid	#87CEFF !important;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%
   }

.topContainer{
    border: 5px solid #87CEFF !important;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    padding-right: 0px !important; 
    padding-left: 0px !important
}

  .navbar1{
    margin-top: 5%;
    height: 50px;
    background-color: #87CEFF 
    
  }

  .p {
    margin-top: 10px !important;
    margin-bottom: 1rem !important;
}

.txt{
    font-size: 50px;
    color: darkblue;
    font-family: 'Courier New', Courier, monospace
}

.txt2{
    font-size: 30px;
    color: lightcoral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}